body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  text-align: center;
  color: cadetblue;
}

a {
  color:black;
  background-color: cadetblue;
  border-radius: 50px;
  text-decoration: none;
  padding: 6px;
  margin-bottom: 39px;

}
label {
  padding-right: 10px;

}
/* th {

} */

